@mixin buttonHero() {
	color: $btn-color;
    background-color: $btn-background-color;
    border-color: $btn-background-color;
    outline: none;
    margin: 20px auto;
}

@mixin buttonSmall() {
	padding:10px 14px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 6px;
}

@mixin buttonHeroHover() {
    color: $btn-color;
    background-color: $btn-background-color;
    border-color: $btn-background-color;
    outline: none;
    margin: 20px auto;
	text-decoration: none;
}

@mixin btn() {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: rgba($color, $opacity);
}

@mixin border-opacity($color, $opacity: 0.3) {
    border-color: rgba($color, $opacity);
}