$nav-text-color: #659D32;
$btn-background-color: #55AE3A	;
$btn-color: #f5f5f5;
$background-gray: #EBEBEB;
$background-light-gray: #f5f5f5;

$title-color: #488214;
$backdrop-text: #659D32;
$background-green: #488214;
$section-font-size: 45px;
$section-font-weight: 400;
$bar-color: #488214;

@import 'mixins';
@import 'layout';
@import 'index';
@import 'user-login';

//import components
@import 'backdrop';
@import 'materialFullCalendar';